.todoComponent {
    border: #c959a0 1px solid;
    margin: 10px 30px;
    padding: 10px;
    color: #b0568f;
    text-align: center;
}

.todoComponent-title {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.todoComponent-description {
    padding: 10px 0;
    font-size: 0.9rem;
    text-align: left;
}

.todoComponent-date {
    margin-right: 10px;
    text-align: right;
}

.todoComponent-flex__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: #db3eb1 1px solid;
    padding: 20px;
    margin: 10px 15px;

}

.todoComponent-flex__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todoComponent-flex__row p {
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: 0 0 75px #db3eb1,
    0 0 20px #db3eb1,
    0 0 40px #db3eb1,
    0 0 60px purple,
    0 0 82px purple,
    0 0 100px purple,
    0 0 200px purple,
    0 0 300px purple;
}


.todoComponent-btn__delete {
    margin: 20px auto 0 auto;
}

.todoComponent-btn {
    background-color: transparent;
    border: #db3eb1 2px solid;
    color: #db3eb1;
    filter: drop-shadow(0 0 8px #db3eb1) drop-shadow(0 0 25px #db3eb1) contrast(2) brightness(2);
    padding: 5px 20px;
}